<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <webSocket enabled="false" />
  <handlers>
    <!-- Indicates that the app.js file is a node.js site to be handled by the iisnode module -->
    <add name="iisnode" path="/bin/www" verb="*" modules="iisnode"/>
</handlers>
<!-- All other URLs are mapped to the node.js site entry point -->


    <rewrite>
      <rules>
            <!-- Do not interfere with requests for node-inspector debugging -->
  <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
    <match url="^bin\/www\/debug[\/]?" />
  </rule>
  <rule name="StaticContent">
    <action type="Rewrite" url="public{REQUEST_URI}"/>
  </rule>
        <!-- <rule name="AngularJS" stopProcessing="true">
          <match url="^(?!.*(.bundle.js|.bundle.map|.bundle.js.gz|.bundle.css|.bundle.css.gz|.png|.jpg|.ico|.svg|.eot|.woff|\​.woff2)).*$" />
          <conditions logicalGrouping="MatchAll"></conditions>
          <action type="Rewrite" url="/" appendQueryString="true" />
        </rule> -->

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="/bin/www"/>
        </rule>
      </rules>
    </rewrite>
          <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
        <!-- Make sure error responses are left untouched -->
 <httpErrors existingResponse="PassThrough" />
    <!-- <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent> -->
  </system.webServer>
</configuration>
